.board {
    position: relative;
    display: flex;
    justify-content: center;
}

.board-grid-container {
    padding: 2vmin;
    background: var(--board-background-color);
    border-radius: 20px;
    margin-top: 2vmin;
    width: 100%;
    min-width: 300px;
}

.board-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.board.game-over .board-grid-container {
    opacity: .7;
    transform: scale(.9);
    filter: saturate(0);
}