.board-options {
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
}

.board-options h1 {
    text-align: center;
}

.board-options .options-container {
    background-color: #ccc;
    padding: 1rem 2rem;
}

.board-options .options-container .row {
    display: flex;
    align-items: center;
    justify-items: start;
    justify-content: flex-start;
}

.board-options .options-container .row:first-child {
    margin-bottom: 10px;
}